

/* Animations */
.sun {
  animation: 4s sun-change infinite alternate linear;
}

@keyframes sun-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
 
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Hello Animation */
.hello1 {
  animation: 3.5s hello1 infinite alternate;
  animation-delay: 0s;
}

@keyframes hello1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.hello2 {
  animation: 3.5s hello2 infinite alternate;
  animation-delay: 1s;
}

@keyframes hello2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.hello3 {
  animation: 3.5s hello3 infinite alternate;
  animation-delay: 2s;
}

@keyframes hello3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.hello4 {
  animation: 3.5s hello4 infinite alternate;
  animation-delay: 3s;
}

@keyframes hello4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.hello5 {
  animation: 3.5s hello5 infinite alternate;
  animation-delay: 4s;
}

@keyframes hello5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.hello6 {
  animation: 3.5s hello6 infinite alternate;
  animation-delay: 5s;
}

@keyframes hello6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.hello7 {
  animation: 3.5s hello6 infinite alternate;
  animation-delay: 6s;
}

@keyframes hello6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Overall CSS for all pages*/

* {
 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
  background: linear-gradient(skyblue,rgb(188, 223, 238));
}

main {
  text-align: center;
  background: rgb(254, 255, 255); }
  
  /* other background options
  background:url(bush.png);
  background-color: rgb(167, 192, 237); */


.DVW_logo {
  width: 150px;
  margin: 10px;
  padding: 10px;
  transition-duration: 0.5s;
  transition-property: opacity;
  border-radius: 20%;
}

.DVW_logo:hover {
opacity: 0.7;
}


li {
  font-size: 20px;
  font-weight: normal;
}


:root {
  --primary-color: #00129d;
  --secondary-color: #000000;
  --dark-grey: #4d4c4c;
  --light-grey: rgb(155, 153, 153);
  --font-bold: bold;
  --font-20:20px;
  --font-15:15px;
}

p {
  color: var(--dark-grey);
  font-size: var(--font-20);
  font-family: Tahoma;
}
h1 {
    color: var(--secondary-color);
    font-family: Verdana;
    font-size: 40px;
}
h2 {
    color: var(--dark-grey);
}
h3 {
    color:var(--light-gray);
    font-size: 30px;
}
li {
    color: var(--dark-grey);
    font-weight: var(--font-bold);
    font-size: var(--font-15);
}

.page-footer {
  background-color: rgb(135, 138, 235);
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 10px;

}

/* Navigation List */

.navigation-list {
  list-style: none;
  border-bottom: solid;
  
}
.navigation-list li {
display: inline-block;
margin-right: 10px;
}

.navigation-list__item {
  font-size: 20px;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: thin;
  padding: 10px;
  transition-property: font-size;
  transition-duration: .5s;
  transition-timing-function: ease;
  
}
.navigation-list__item:hover {
  font-size: 25px;
  
}

/* Home Page */


.DerekVW-BW {
border-radius: 10%;
margin: 10px;
padding: 10px;
width: 310px;
transition-duration: 0.5s;
transition-property: opacity;
transition-timing-function: ease;
}

.DerekVW-BW:hover {
opacity: 0.5;
border-radius: 10%;
}

.hello-animation {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.index-main {
    text-align: center;
}

#name {
  font-size: 20px;
  text-align: left;
  font-family: Tahoma;
  padding-left: 20px;
}

#web-developer {
  font-size: 40px;
  text-align: center;
  font-family: Tahoma;
  padding: 15px;
}
#Austin {
font-size: 30px;
text-align: left;
font-family: Tahoma;
padding-left: 20px;
}

/* Work Page */
.work-title {
  font-size: 50px;
}

.work-main {
  text-align: center;
}
.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}  

.work-grid-item {
text-align: center;
display: inline-block;
font-size: 12px;
margin: 5px;
background-color: inherit;
padding: 5px;

}

.work-grid-item:first-child {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}


.work-monkey {
  width: 300px;
  text-align: center;
  border-radius: 5%;
  display: inline-block;
}

.work-grid-pic {
  width: 300px;
  border-radius: 10%;
}

/* About Page */

.about-main {
    text-align: center;
}
.About-list {
    list-style: none;
    text-decoration: none;
    border: solid;
    margin: 10px;
    padding: 10px;
}
.about-list__item {
    text-decoration: none;
    
}

.about-title {
  font-size: 30px;
  color: #000000;
  transition-property: font-size;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.growing-title:hover {
font-size: 32px;
cursor: pointer;
}

.about-p {
  font-size: 12px;
}

.About-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.about-grid-item {
  display: inline-block;
  text-align: center;
  border: solid;
border-width: 3px;
display: inline-block;
margin: 5px;
color: midnightblue;
background-color: inherit;
padding: 5px;
}

.about-grid-item:first-child {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.about-logo {
  width: 200px;
  border-radius: 10%;
}

.About-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin: 10px;
}

.cv-button {
  border: none;
  width: 300px;
  display: inline-block;
  font-family: inherit;
  background-color: #fcc101;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  transform: scale(1.5);
}

  .CV-button:hover,
  .CV-button:focus {
    cursor: pointer;
    opacity: 0.8;
  }


.Ink-image {
    text-align: center;
}



/* See bottom for About Page Animations */




/* Contact Page */

.contact-main {
    text-align: center;
    font-family: Tahoma;
    font-size: 25px;
}
.contact-form {
    box-shadow: #2b2b2b;
    padding: 10px;
}

.fake-address {
  font-size: 25px;
}

::placeholder {
    color: navy;
}

.contact-personal-box {
  margin: 10px;
  padding: 10px;
}



      /* Media Queries */

      @media all and (max-width: 750px) {
        .work-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      @media all and (min-width: 500px) and (max-width: 750px){
        .work-grid {
          grid-template-columns: 1fr 1fr;
        }
      
      }
      @media all and (max-width: 500px) {
        .work-grid {
          grid-template-columns: 1fr;
          margin: 0.5em;
        }
        .work-grid {
          grid-template-columns: 1fr;
        }
        h1 {
          font-size: 18px;
        }
      }
      
  
      @media all and (min-width: 500px) and (max-width: 750px){
        .About-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
        .About-grid  {
          grid-template-columns: 1fr 1fr;
        }
      
      }
      
      @media all and (max-width: 500px) {
        .About-grid {
          grid-template-columns: 1fr;
          margin: 0.5em;
        }
        .About-grid {
          grid-template-columns: 1fr;
        }
        h1 {
          font-size: 18px;
        }
      }


      /* Bad Animation
@keyframes DerekVW-BW {
  from {
      transform: scale(1,1);
  } to {
      transform: scale(1.1,1.1);
  }
}
.DerekVW-BW:hover {
  text-align: center;
  animation: DerekVW-BW 3s ease infinite alternate;
  padding: 20px;
  margin: 10px;
  border-radius: 10%;
}
 */